<p id="notice"><%= notice %></p>

<h1>Health Insurance</h1>

<table>
  <thead>
    <tr>
      <th>Relation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healthinsurance.each do |health_insurance| %>
      <tr>
        <td><%= healthinsurance.relation %></td>
        <td><%= link_to 'Show', healthinsurance %></td>
        <td><%= link_to 'Edit', edit_healthinsurance_path(healthinsurance) %></td>
        <td><%= link_to 'Destroy', healthinsurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health Insurance', new_healthinsurance_path %>
