<%= form_with(model: health_history) do |form| %>
  <% if health_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_history.errors.count, "error") %> prohibited this health_history from being saved:</h2>

      <ul>
        <% health_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :health_history_id %>
    <%= form.number_field :health_history_id %>
  </div>
<div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id %>
  </div>
  <div class="field">
    <%= form.label :relation %>
    <%= form.text_field :relation %>
  </div>
<div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
<div class="field">
    <%= form.label :value_type %>
    <%= form.text_field :value_type %>
  </div>
<div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
