<p id="notice"><%= notice %></p>

<h1>Health Histories</h1>

<table>
  <thead>
    <tr>
      <th>Relation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_histories.each do |health_history| %>
      <tr>
        <td><%= health_history.relation %></td>
        <td><%= link_to 'Show', health_history %></td>
        <td><%= link_to 'Edit', edit_health_history_path(health_history) %></td>
        <td><%= link_to 'Destroy', health_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health History', new_health_history_path %>
