<p id="notice"><%= notice %></p>

<p>
  <strong>Relation:</strong>
  <%= @health_history.id %>
  <%= @health_history.patient_id %>

</p>

<%= link_to 'Edit', edit_health_history_path(@health_history) %> |
<%= link_to 'Back', health_histories_path %>
